.device__inner {
  padding: 35px;
  max-width: 766px;
  height: 182px;
  background-color: #fff;
  border-radius: 32px;
  text-align: center; }
.device__wrapper {
  margin: auto;
  border-radius: 32px;
  padding: 2px;
  max-width: 768px;
  height: 186px;
  background-image: linear-gradient(90deg, #00c2ff 0%, white 50%, red 100%); }
.device__title {
  font-size: 18px;
  line-height: 22px; }
.device__img {
  max-width: 452px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 32px; }

@media (max-width: 480.98px) {
  .device__img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .device__wrapper {
    height: 200px; }
  .device__inner {
    height: 198px; } }
